<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="basePath">../log4jtutorial/logs</Property>
    </Properties>
    <Appenders>
        <!-- Console Appender -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="me.jysh" level="debug" />
        <Root level="debug">
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>
</Configuration>

<!--  [%t] %C{2} (%F:%L) -->